.topnav{
  background-color: rgb(0, 50, 100);
  color: rgb(255, 254, 247);
  border: rebeccapurple;
  overflow: hidden;
  font-size: 30px;
  padding: 2px;
  border-radius: 20px;
  border: 2px solid lightgreen;
}
.topnav a{
  float: left; 
  text-align: center;
  color: skyblue;
  font-size: 29px;
  padding: 9px;
  border: 2px solid lightgreen;
  border-radius: 20px;
  background-color: rgb(52, 27, 55);
  }
  .topnav a:hover{
    float: center;
    background-color: gold;
    color: black;
  }
  .topnav a:active{
    background-color: greenyellow;
  }
  .topnav img {
    text-align: left;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid lightgreen;
  }
h1 {
background-color: rgb(0,50 , 100);
  color: whitesmoke;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  border-radius: 200px;
}
p {
  font-size: 20px;
  text-align: center;
}
body {
  background-color: skyblue;
}
h3 {
 font-size: 35px;
 padding: 10px;
 text-align: center;
}
table,th,td{
  border: 1px solid black;
  border-radius: 20px;
  font-size: 17px;
  padding: 10px;
  background-color: lightgreen;
}
h4 {
  text-align: center;
  font-size: 30px;
  background-color: lightcyan;
  padding: 2px;
  border-radius: 100px;
}
h5 {
  text-align: center;
  font-size: 20px;
  background-color: lightcyan;
  border-radius: 100px;
}
h6 {
  text-align:center;
  font-size: 20px;
  background-color: lightcyan;
  padding: 10;
  border-radius: 100px;
}
footer {
  background-color: black;
  padding:1px;
  margin-top: 30px;
  font-size: 10px;
  border-radius: 50px;
}
div {
  margin: 10px;
  text-align: right;
}
.product {
  width: 250px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0,
  .1);
  gap: 2px;
  justify-content:center;
  background-color: white;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  overflow: hidden;
}
p3{
  background-color:green;
}
.card {
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  
  margin: 20px;
  text-align: center;
  width: 250;
  background-color: white;


}

.card-img {
  width: 200px;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-title {
  font-size: 24px;
  margin: 0 0 10px;
  text-align: center;
}

.card-description {
  font-size: 16px;
  color: green;
  margin-bottom: 20px;
  text-align: center;
}

.card-button {
  background-color: green;
  text-align: center;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.card-button:hover {
  background-color: blue;
}
.video {
  font-size: 25px;
  border: 2px solid lightgreen;
}
blockquote {
  font-size: 20px;
}
.radio {
  text-align: center;
  font-size: 20px;
  margin: 4px;
}
.yks {
  font-size: 20px;  
}
.row {
  width: 25%;
}